<template>
  <footer>
    <div class="container-fluid">
      <div class="d-flex w-100 justify-content-between">
        <div class="text-muted">
          <small>
            <em>
              &copy; <a :href="authorUrl">{{ authorDisplayName }}</a> {{ yearRange }}
            </em>
          </small>
        </div>
        <div class="text-muted">
          <small>
            <em>
              v{{ version }}
              |
              <a :href="repoUrl">Source code</a>
            </em>
          </small>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'Footer',
  computed: {
    authorUrl: function () {
      return process.env.VUE_APP_AUTHOR_URL
    },
    authorDisplayName: function () {
      return process.env.VUE_APP_AUTHOR_DISPLAY_NAME
    },
    thisYear: function () {
      return new Date().getFullYear()
    },
    yearEstablished: function () {
      return process.env.VUE_APP_YEAR_ESTABLISHED
    },
    yearRange: function () {
      if (this.yearEstablished == 0) {
        return this.thisYear
      }
      return this.thisYear == this.yearEstablished ? this.yearEstablished : this.yearEstablished + '-' + this.thisYear
    },
    version: function () {
      return process.env.VUE_APP_VERSION
    },
    repoUrl: function () {
      return process.env.VUE_APP_REPO_URL
    }
  }
}
</script>

<style>
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 56px;
  padding: 0;
  margin: 0;
  line-height: 55px;
  text-align: center;
  background: #f0f0f0;
  font-size: 1rem;
  color: #6c757d;
}

footer a {
  color: #6c757d;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
</style>
