<template>
  <div :id="id" class="plot">
    <svg :width="width" :height="height" ref="svg" />
  </div>
</template>

<script>
export default {
  name: 'Plot',
  props: {
    id: String,
    width: Number,
    height: Number,
    margin: Object,
    lineStyles: Array,
    data: Array,
    scaleOptions: Object,
    imageSrc: String,
    imageSize: String,
    imagePosition: String
  },
  methods: {
    render: function () {
      if (!this.width) {
        return
      }

      // Remove any previously rendered SVG content.
      let svg = d3.select(this.$refs.svg)
      svg.selectAll('*').remove()

      // background image.
      if (this.imageSrc) {
        const css = [
          { property: 'background-repeat', value: 'no-repeat' },
          { property: 'background-image', value: `url(${this.imageSrc})` },
          { property: 'background-size', value: this.imageSize },
          { property: 'background-position', value: this.imagePosition }
        ]
        svg.attr('style', css.map((x) => `${x.property}: ${x.value};`).join(' '))
      }

      // Calculate dimensions.
      const graphWidth = this.width - this.margin.left - this.margin.right
      const graphHeight = this.height - this.margin.top - this.margin.bottom

      // Define a clip path (we don't want the lines being drawn over our axis).
      let clipPathId = `${this.id}-defs`
      let defs = svg.append('defs')
      defs
        .append('clipPath')
        .attr('id', clipPathId)
        .append('rect')
        .attr('x', 0)
        .attr('y', 0)
        .attr('width', graphWidth)
        .attr('height', graphHeight)

      let g = svg.append('g').attr('transform', `translate(${this.margin.left},${this.margin.top})`)

      // X-axis
      let x = this.scaleOptions.horizontalScaleLog ? d3.scaleLog() : d3.scaleLinear()
      x.domain([20, this.scaleOptions.Fs / 2]).range([0, graphWidth - 1])
      g.append('g').attr('transform', `translate(0,${graphHeight})`).call(d3.axisBottom(x))

      // Y-xis
      let y = d3
        .scaleLinear()
        .domain([this.scaleOptions.minY, this.scaleOptions.maxY])
        .range([graphHeight, this.margin.top])

      g.append('g').call(d3.axisLeft(y))

      // lines.
      // Reverse order, so that the top line is drawn last.
      for (let i = this.lineStyles.length - 1; i >= 0; i--) {
        g.append('path')
          .datum(this.data)
          .attr('fill', 'none')
          .attr('stroke-dasharray', this.lineStyles[i].strokeDashArray())
          .attr('stroke', this.lineStyles[i].color)
          .attr('stroke-width', this.lineStyles[i].width)
          .attr('style', `clip-path:url(#${clipPathId});`)
          .attr(
            'd',
            d3
              .line()
              .x((d) => x(d.x))
              .y((d) => y(d[`y${i}`]))
          )
      }
    }
  },
  watch: {
    // Re-render when any prop changes.
    $props: {
      handler() {
        this.render()
      },
      deep: true,
      immediate: true
    }
  }
}
</script>
