<template>
  <div class="layer-list">
    <div class="mb-1">
      <div class="dropdown">
        <button
          class="btn btn-primary dropdown-toggle"
          type="button"
          id="btnAddLayer"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="bi-plus-lg"></i>
          Add layer
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="btnAddLayer">
          <li v-for="layerType in layerTypes" :key="layerType.code">
            <a
              :class="{ 'dropdown-item': true, disabled: layerTypeDisabled(layerType.code) }"
              href="#"
              @click="onAddLayerClick(layerType.code)"
            >
              <i :class="layerType.icon"></i>
              {{ layerType.displayName }}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <LayerListItem
      v-for="(layer, index) in layersInternal"
      :id="`${id}-layer${index}`"
      :key="index"
      :value="layer"
      :index="index"
      :count="layers.length"
      @input="onLayerInput"
      @move="onLayerMove"
      @delete="onLayerDelete"
    />
  </div>
</template>

<script>
import ArrayHelper from '@/lib/array-helper.js'

import Layer from '@/models/layer.js'
import LayerType from '@/models/type-definitions/layer-type.js'

import LayerListItem from '@/components/layers/layer-list-item.vue'

export default {
  name: 'Layers',
  components: {
    LayerListItem
  },
  props: {
    id: String,
    layers: Array
  },
  data: function () {
    return {
      layersInternal: null,
      layerTypes: null
    }
  },
  methods: {
    onAddLayerClick: function (layerTypeCode) {
      let layer = new Layer(layerTypeCode, true, true).withDefaultFormData()
      const layerType = this.layerTypes.find((x) => x.code === layerTypeCode)
      if (layerType.addToEnd) {
        this.layersInternal.push(layer)
      } else {
        this.layersInternal.unshift(layer)
      }

      this.$emit('layersInput', this.cloneLayers(this.layersInternal))
    },
    onLayerInput: function (layer, index) {
      this.layersInternal[index] = layer
      this.$emit('layersInput', this.cloneLayers(this.layersInternal))
    },
    onLayerDelete: function (index) {
      this.layersInternal.splice(index, 1)
      this.$emit('layersInput', this.cloneLayers(this.layersInternal))
    },
    onLayerMove: function (oldIndex, newIndex) {
      this.layersInternal = ArrayHelper.moveElement(this.layersInternal, oldIndex, newIndex)
      this.$emit('layersInput', this.cloneLayers(this.layersInternal))
    },
    layerTypeDisabled: function (layerTypeCode) {
      const layerType = this.layerTypes.find((x) => x.code === layerTypeCode)
      const alreadyExists = this.layersInternal.some((x) => x.layerTypeCode === layerTypeCode)
      return !layerType.allowMultiple && alreadyExists
    },
    cloneLayers(layers) {
      return layers.map((x) => x.clone())
    }
  },
  created: function () {
    this.layersInternal = this.layers
    this.layerTypes = LayerType.getList()
  },
  watch: {
    layers: function (val) {
      this.layersInternal = val
    }
  }
}
</script>
