<template>
  <span :class="{ 'layer-icon': true, 'layer-icon--muted': !layer.visible }">
    <svg v-if="plottable" width="30" height="30" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
      <line
        x1="0"
        y1="15"
        x2="30"
        y2="15"
        :stroke="stroke"
        :stroke-dasharray="strokeDashArray"
        :stroke-width="strokeWidth"
      />
    </svg>
    <i v-if="isImage" class="layer-icon__image bi-image"></i>
  </span>
</template>

<script>
export default {
  name: 'LayerIcon',
  props: {
    layer: Object
  },
  computed: {
    plottable: function () {
      return this.layer.isPlottable()
    },
    stroke: function () {
      return this.layer.formData.lineStyle.color
    },
    strokeDashArray: function () {
      return this.layer.formData.lineStyle.strokeDashArray()
    },
    strokeWidth: function () {
      return this.layer.formData.lineStyle.width
    },
    isImage: function () {
      return this.layer.layerTypeCode === 'image'
    }
  }
}
</script>

<style scoped>
.layer-icon {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
}

.layer-icon--muted {
  opacity: 50%;
}

.layer-icon__image {
  line-height: 30px;
  font-size: 20px;
  color: #666666;
}
</style>
