<template>
  <div :id="id" class="layers-list-item card mb-1">
    <div class="card-header">
      <div class="d-flex">
        <div class="flex-shrink-0">
          <button
            v-if="layer.expanded"
            class="btn btn-outline-secondary btn-sm me-2"
            title="collapse"
            @click="onExpandedClick"
          >
            <i class="bi-caret-down-fill"></i>
          </button>
          <button v-else class="btn btn-outline-secondary btn-sm me-2" title="expand" @click="onExpandedClick">
            <i class="bi-caret-right-fill"></i>
          </button>
        </div>
        <div class="flex-shrink-0">
          <LayerIcon :layer="layer" />
        </div>
        <div class="flex-grow-1">
          <div :class="{ 'ms-1': true, 'text-muted': !layer.visible }">{{ title }}</div>
        </div>
        <div class="flex-shrink-0">
          <button
            v-if="layer.visible"
            class="btn btn-outline-secondary btn-sm me-1"
            title="Hide"
            @click="onVisibleClick"
          >
            <i class="bi-eye-fill"></i>
          </button>
          <button v-else class="btn btn-outline-secondary btn-sm me-1" title="Show" @click="onVisibleClick">
            <i class="bi-eye-slash-fill"></i>
          </button>
          <button
            class="btn btn-outline-secondary btn-sm me-1"
            title="Move up"
            :disabled="isFirst"
            @click="onMoveUpClick"
          >
            <i class="bi-arrow-up"></i>
          </button>
          <button
            class="btn btn-outline-secondary btn-sm me-3"
            title="Move down"
            :disabled="isLast"
            @click="onMoveDownClick"
          >
            <i class="bi-arrow-down"></i>
          </button>
          <button class="btn btn-outline-secondary btn-sm" title="Delete" @click="onDeleteClick">
            <i class="bi-x-lg"></i>
          </button>
        </div>
      </div>
    </div>
    <div v-if="layer.expanded" class="card-body">
      <Component :id="`${id}-form`" :is="formComponent" :value="layer.formData" :index="index" @input="onFormInput" />
    </div>
  </div>
</template>

<script>
import BiquadForm from '@/components/forms/biquad-form.vue'
import ImageForm from '@/components/forms/image-form.vue'
import NoiseReductionForm from '@/components/forms/noise-reduction-form.vue'
import OutputForm from '@/components/forms/output-form.vue'
import LayerIcon from '@/components/layers/layer-icon.vue'

export default {
  name: 'LayerListItem',
  components: {
    BiquadForm,
    ImageForm,
    NoiseReductionForm,
    LayerIcon,
    OutputForm
  },
  props: {
    id: String,
    value: Object,
    index: Number,
    count: Number
  },
  data: function () {
    return {
      layer: null
    }
  },
  computed: {
    title: function () {
      return this.layer.getTitle()
    },
    isFirst: function () {
      return this.index === 0
    },
    isLast: function () {
      return this.index === this.count - 1
    },
    formComponent: function () {
      switch (this.layer.layerTypeCode) {
        case 'biquad':
          return 'BiquadForm'

        case 'image':
          return 'ImageForm'

        case 'nr':
          return 'NoiseReductionForm'

        case 'output':
          return 'OutputForm'

        default:
          throw `Can't determine formComponent. Unsupported layer type: "${this.layer.layerTypeCode}".`
      }
    }
  },
  methods: {
    onExpandedClick: function () {
      this.layer.expanded = !this.layer.expanded
      this.$emit('input', this.layer.clone(), this.index)
    },
    onVisibleClick: function () {
      this.layer.visible = !this.layer.visible
      this.$emit('input', this.layer.clone(), this.index)
    },
    onMoveUpClick: function () {
      this.$emit('move', this.index, this.index - 1)
    },
    onMoveDownClick: function () {
      this.$emit('move', this.index, this.index + 1)
    },
    onDeleteClick: function () {
      this.$emit('delete', this.index)
    },
    onFormInput: function (formData) {
      this.layer.formData = formData
      this.$emit('input', this.layer.clone(), this.index)
    }
  },
  created: function () {
    this.layer = this.value
  },
  watch: {
    value: function (val) {
      this.layer = val
    }
  }
}
</script>
