<template>
  <div :id="id" class="background-size-input">
    <select :id="`${id}-option`" class="form-control" v-model="option" @change="onInput">
      <option v-for="item in options" :key="item.value" :value="item.value">{{ item.displayName }}</option>
      <option value="custom">Custom</option>
    </select>
    <div v-if="showWidthAndHeight" class="input-group mt-1">
      <input :id="`${id}-width`" class="form-control" v-model="width" @input="onInput" />
      <span class="input-group-text">x</span>
      <input :id="`${id}-height`" class="form-control" v-model="height" @input="onInput" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'BackgroundSizeInput',
  props: {
    id: String,
    value: String
  },
  data: function () {
    return {
      options: [
        { value: 'auto', displayName: 'Original' },
        { value: 'cover', displayName: 'Cover' },
        { value: 'contain', displayName: 'Contain' }
      ],
      option: null,
      width: '100%',
      height: '100%'
    }
  },
  computed: {
    showWidthAndHeight: function () {
      return this.option === 'custom'
    }
  },
  methods: {
    onInput: function () {
      this.$emit('input', this.compose())
    },
    parse: function (val) {
      if (this.isOption(val)) {
        this.option = val
        return
      }

      this.option = 'custom'
      const parts = val.split(' ')
      this.width = parts.length > 0 ? parts[0] : ''
      this.height = parts.length > 1 ? parts[1] : ''
    },
    compose: function () {
      if (this.isOption(this.option)) {
        return this.option
      }
      return [this.width, this.height].join(' ').trim()
    },
    isOption: function (val) {
      return this.options.map((x) => x.value).includes(val)
    }
  },
  created: function () {
    this.parse(this.value)
  },
  watch: {
    value: function (val) {
      this.parse(val)
    }
  }
}
</script>
