<template>
  <div :id="id" class="background-position-input">
    <select :id="`${id}-option`" class="form-control" v-model="option" @change="onInput">
      <option v-for="item in options" :key="item.value" :value="item.value">{{ item.displayName }}</option>
      <option value="custom">Custom</option>
    </select>
    <div v-if="showXandY" class="input-group mt-1">
      <input :id="`${id}-x`" class="form-control" v-model="x" @input="onInput" />
      <span class="input-group-text"></span>
      <input :id="`${id}-y`" class="form-control" v-model="y" @input="onInput" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'BackgroundPositionInput',
  props: {
    id: String,
    value: String
  },
  data: function () {
    return {
      options: [
        { value: 'top left', displayName: 'Top Left' },
        { value: 'top center', displayName: 'Top Center' },
        { value: 'top right', displayName: 'Top Right' },
        { value: 'center left', displayName: 'Center Left' },
        { value: 'center center', displayName: 'Center Center' },
        { value: 'center right', displayName: 'Center Right' },
        { value: 'bottom left', displayName: 'Bottom Left' },
        { value: 'bottom center', displayName: 'Bottom Center' },
        { value: 'bottom right', displayName: 'Bottom Right' }
      ],
      option: null,
      x: '0px',
      y: '0px'
    }
  },
  computed: {
    showXandY: function () {
      return this.option === 'custom'
    }
  },
  methods: {
    onInput: function () {
      this.$emit('input', this.compose())
    },
    parse: function (val) {
      if (this.isOption(val)) {
        this.option = val
        return
      }

      this.option = 'custom'
      const parts = val.split(' ')
      this.x = parts.length > 0 ? parts[0] : ''
      this.y = parts.length > 1 ? parts[1] : ''
    },
    compose: function () {
      if (this.isOption(this.option)) {
        return this.option
      }
      return [this.x, this.y].join(' ').trim()
    },
    isOption: function (val) {
      return this.options.map((x) => x.value).includes(val)
    }
  },
  created: function () {
    this.parse(this.value)
  },
  watch: {
    value: function (val) {
      this.parse(val)
    }
  }
}
</script>
