<template>
  <div class="alert alert-info" role="alert">
    <div class="d-flex">
      <div class="p-2 flex-shrink-1">
        <i class="bi-info-circle-fill"></i>
      </div>
      <div class="p-2 w-100 bd-highlight">
        <slot />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'InfoAlert'
}
</script>
