<template>
  <div :id="id" class="input-group">
    <select :id="`${id}-width`" class="form-control" v-model.number="lineStyle.width" @change="onChange">
      <option :value="1">1px</option>
      <option :value="1.5">1.5px</option>
      <option :value="2">2px</option>
      <option :value="3">3px</option>
      <option :value="4">4px</option>
      <option :value="5">5px</option>
      <option :value="6">6px</option>
      <option :value="7">7px</option>
      <option :value="8">8px</option>
    </select>
    <select :id="`${id}-style`" class="form-control" v-model="lineStyle.style" @change="onChange">
      <option value="dotted">Dotted</option>
      <option value="dashed">Dashed</option>
      <option value="solid">Solid</option>
    </select>
    <input
      type="color"
      :id="`${id}-color`"
      class="form-control form-control-color"
      title="Choose your color"
      v-model="lineStyle.color"
      @change="onChange"
    />
  </div>
</template>

<script>
export default {
  name: 'LineStyleInput',
  props: {
    id: String,
    value: Object
  },
  data: function () {
    return {
      lineStyle: null
    }
  },
  methods: {
    onChange: function () {
      this.$emit('input', this.lineStyle.clone())
    }
  },
  created: function () {
    this.lineStyle = this.value
  },
  watch: {
    value: function (val) {
      this.lineStyle = val
    }
  }
}
</script>
