<template>
  <div class="app">
    <nav class="navbar navbar-dark bg-dark mb-2">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">{{ title }}</a>
      </div>
    </nav>
    <main class="container-fluid">
      <div class="row">
        <div class="col-xl-7 order-xs-1 order-xl-2 mb-3">
          <div ref="plotContainer">
            <Plot
              id="plot"
              :width="plotWidth"
              :height="plotHeight"
              :margin="plotMargin"
              :lineStyles="lineStyles"
              :data="plotData"
              :scaleOptions="scaleOptions"
              :imageSrc="imageSrc"
              :imageSize="imageSize"
              :imagePosition="imagePosition"
            />
          </div>
          <ScaleOptionsForm id="scale-options-form" :value="scaleOptions" @change="onScaleOptionsChange" />
        </div>
        <div class="col-xl-5 order-xs-2 order-xl-1 mb-3">
          <Layers id="layers" :layers="layers" @layersInput="onLayersInput" />
        </div>
      </div>
    </main>
    <Footer />
  </div>
</template>

<script>
import PlotDataGenerator from '@/lib/plot-data-generator.js'

import BiquadFormData from '@/models/form-data/biquad-form-data.js'
import OutputFormData from '@/models/form-data/output-form-data.js'
import ScaleOptions from '@/models/form-data/scale-options.js'
import Layer from '@/models/layer.js'
import LineStyle from '@/models/line-style.js'

import Layers from '@/components/layers/index.vue'
import Plot from '@/components/plot/index.vue'
import Footer from '@/components/layout/footer.vue'
import ScaleOptionsForm from '@/components/forms/scale-options-form.vue'

export default {
  name: 'App',
  components: {
    Layers,
    Plot,
    Footer,
    ScaleOptionsForm
  },
  data: function () {
    return {
      plotWidth: null,
      plotHeight: 400,
      plotMargin: { top: 10, right: 10, bottom: 30, left: 30 },
      lineStyles: null,
      plotData: null,
      scaleOptions: null,
      layers: null,
      imageSrc: null,
      imageSize: null,
      imagePosition: null
    }
  },
  computed: {
    title: function () {
      return process.env.VUE_APP_TITLE
    }
  },
  methods: {
    onScaleOptionsChange: function (scaleOptions) {
      this.scaleOptions = scaleOptions
      this.refresh()
    },
    onLayersInput: function (layers) {
      this.layers = layers
      this.refresh()
    },
    onResize: function () {
      this.refresh()
    },
    refresh: function () {
      // It's more convenient for each biquad-form-data model to have thier own copy of Fs.
      // That way we can handle calculating coefficients when the object is instantiated or cloned.
      this.layers.filter((x) => x.layerTypeCode === 'biquad').forEach((x) => (x.formData.Fs = this.scaleOptions.Fs))
      this.layers = this.layers.map((x) => x.clone())

      this.plotWidth = this.$refs.plotContainer.clientWidth

      this.lineStyles = this.layers.filter((x) => x.isPlottable() && x.visible).map((x) => x.formData.lineStyle)

      const imageLayer = this.layers.find((x) => x.layerTypeCode === 'image')
      this.imageSrc = imageLayer ? imageLayer.formData.src : null
      this.imageSize = imageLayer ? imageLayer.formData.size : null
      this.imagePosition = imageLayer ? imageLayer.formData.position : null

      this.plotData = PlotDataGenerator.generateData(
        this.scaleOptions.Fs,
        this.layers,
        this.plotWidth - this.plotMargin.left - this.plotMargin.right,
        this.scaleOptions.horizontalScaleLog,
        this.scaleOptions.verticalScaleDb
      )

      if (this.scaleOptions.verticalScaleAuto) {
        let bounds = PlotDataGenerator.findVerticalBounds(this.plotData, this.lineStyles.length)
        this.scaleOptions.minY = bounds.minY
        this.scaleOptions.maxY = bounds.maxY
      }
    }
  },
  created: function () {
    this.scaleOptions = new ScaleOptions().withProperties(40000, true, true, true, -10, 10)

    let outputLayer = new Layer('output', false, true).withFormData(new OutputFormData())

    let biquadPeakingEqLayer = new Layer('biquad', true, true).withFormData(
      new BiquadFormData().withProperties(
        'peakingEQ',
        this.scaleOptions.Fs,
        2000,
        0.7071,
        2.75,
        new LineStyle().withProperties(2, 'dashed', '#cc3333')
      )
    )

    let biquadHighShelfLayer = new Layer('biquad', true, true).withFormData(
      new BiquadFormData().withProperties(
        'highShelf',
        this.scaleOptions.Fs,
        1000,
        0.7071,
        6.5,
        new LineStyle().withProperties(2, 'dashed', '#3366cc')
      )
    )

    this.layers = [outputLayer, biquadPeakingEqLayer, biquadHighShelfLayer]

    window.addEventListener('resize', this.onResize)
  },
  mounted: function () {
    this.refresh()
  },
  destroyed() {
    window.removeEventListener('resize', this.onResize)
  }
}
</script>

<style>
html {
  min-width: 320px;
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.app {
  min-height: 100%;
  position: relative;
  padding-bottom: 56px;
  margin: 0;
}
</style>
