<template>
  <div :id="id" class="biquad-form">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3 row">
          <label :for="`${id}-biquadTypeCode`" class="col-5 col-form-label">Type</label>
          <div class="col-7">
            <select
              :id="`${id}-biquadTypeCode`"
              class="form-control"
              v-model="biquadFormData.biquadTypeCode"
              @input="onInput"
              @change="onInput"
            >
              <option v-for="biquadType in biquadTypes" :key="biquadType.code" :value="biquadType.code">
                {{ biquadType.displayName }}
              </option>
            </select>
          </div>
        </div>
        <div class="mb-3 row">
          <label :for="`${id}-f0`" class="col-5 col-form-label">Center freq. (Hz)</label>
          <div class="col-7">
            <input
              type="text"
              class="form-control"
              :id="`${id}-f0`"
              v-model.number="biquadFormData.f0"
              @input="onInput"
            />
            <input
              type="range"
              class="form-range"
              :id="`${id}-f0-range`"
              v-model.number="biquadFormData.f0"
              min="20"
              :max="biquadFormData.Fs / 2"
              @input="onInput"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label :for="`${id}-Q`" class="col-5 col-form-label">Q</label>
          <div class="col-7">
            <input
              type="text"
              class="form-control"
              :id="`${id}-Q`"
              v-model.number="biquadFormData.Q"
              @input="onInput"
            />
            <input
              type="range"
              class="form-range"
              :id="`${id}-Q-range`"
              v-model.number="biquadFormData.Q"
              min="0.000001"
              max="10"
              step="0.000001"
              @input="onInput"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label :for="`${id}-dBGain`" class="col-5 col-form-label">Gain (dB)</label>
          <div class="col-7">
            <input
              type="text"
              :id="`${id}-dBGain`"
              class="form-control"
              v-model.number="biquadFormData.dBgain"
              :disabled="!usesGain"
              @input="onInput"
            />
            <input
              type="range"
              class="form-range"
              :id="`${id}-dBgain-range`"
              v-model.number="biquadFormData.dBgain"
              :disabled="!usesGain"
              min="-30"
              max="30"
              step="0.05"
              @input="onInput"
            />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3 row">
          <label :for="`${id}-lineStyle`" class="col-5 col-form-label">Line style</label>
          <div class="col-7">
            <LineStyleInput :id="`${id}-lineStyle`" :value="biquadFormData.lineStyle" @input="onLineStyleInput" />
          </div>
        </div>
        <div class="form-group mb-3">
          <label :for="`${id}-coefficients`">Coefficients <em>(normalized)</em></label>
          <textarea
            :id="`${id}-coefficients`"
            class="form-control coefficients"
            :value="coefficientsPlainText"
            readonly
            :aria-describedby="`${id}-coefficientsHelpBlock`"
          />
          <div :id="`${id}-coefficientsHelpBlock`" class="form-text">
            See the <a href="https://www.w3.org/TR/audio-eq-cookbook/">Audio EQ Cookbook</a> for info about how these
            are calculated.
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BiquadType from '@/models/type-definitions/biquad-type.js'

import LineStyleInput from '@/components/form-controls/line-style-input.vue'

export default {
  name: 'BiquadForm',
  components: {
    LineStyleInput
  },
  props: {
    id: String,
    value: Object,
    index: Number
  },
  data: function () {
    return {
      biquadFormData: null,
      biquadTypes: null
    }
  },
  computed: {
    coefficientsPlainText: function () {
      return this.biquadFormData.coefficients ? this.biquadFormData.coefficients.toString() : ''
    },
    usesGain: function () {
      return this.biquadTypes.find((x) => x.code === this.biquadFormData.biquadTypeCode).usesGain
    }
  },
  methods: {
    onInput: function () {
      this.$emit('input', this.biquadFormData.clone())
    },
    onLineStyleInput: function (lineStyle) {
      this.biquadFormData.lineStyle = lineStyle.clone()
      this.$emit('input', this.biquadFormData.clone())
    }
  },
  created: function () {
    this.biquadFormData = this.value
    this.biquadTypes = BiquadType.getList()
  },
  watch: {
    value: function (val) {
      this.biquadFormData = val
    }
  }
}
</script>

<style scoped>
.coefficients {
  width: 100%;
  height: 10em;
}
</style>
