<template>
  <div :id="id" class="image-form row">
    <div class="col-md-6">
      <InfoAlert>
        <p>Choose an image to use as the background of the plot.</p>
        <p>This can be useful if you're trying match the curve on a graph.</p>
        <p>
          Custom size and position can be any
          <a target="_blank" href="https://www.w3schools.com/cssref/css_units.asp">CSS length unit</a>. Eg: % or px.
        </p>
      </InfoAlert>
    </div>
    <div class="col-md-6">
      <div class="mb-3 row">
        <label :for="`${id}-src`" class="col-4 col-form-label">Image</label>
        <div class="col-8">
          <input
            :id="`${id}-src`"
            class="form-control"
            type="file"
            accept="image/*"
            value="imageFormData.src"
            @change="onSrcChange"
          />
        </div>
      </div>
      <div class="mb-3 row">
        <label :for="`${id}-size`" class="col-4 col-form-label">Size</label>
        <div class="col-8">
          <BackgroundSizeInput :id="`${id}-size`" v-model="imageFormData.size" @input="onInput" />
        </div>
      </div>
      <div class="mb-3 row">
        <label :for="`${id}-position`" class="col-4 col-form-label">Position</label>
        <div class="col-8">
          <BackgroundPositionInput :id="`${id}-position`" v-model="imageFormData.position" @input="onInput" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BackgroundPositionInput from '@/components/form-controls/background-position-input.vue'
import BackgroundSizeInput from '@/components/form-controls/background-size-input.vue'
import InfoAlert from '@/components/form-controls/info-alert.vue'

export default {
  name: 'ImageForm',
  components: {
    BackgroundPositionInput,
    BackgroundSizeInput,
    InfoAlert
  },
  props: {
    id: String,
    value: Object,
    index: Number
  },
  data: function () {
    return {
      imageFormData: null
    }
  },
  methods: {
    onSrcChange: function (e) {
      const file = e.target.files[0]
      this.imageFormData.src = URL.createObjectURL(file)
      this.$emit('input', this.imageFormData.clone())
    },
    onInput: function () {
      this.$emit('input', this.imageFormData.clone())
    }
  },
  created: function () {
    this.imageFormData = this.value
  },
  watch: {
    value: function (val) {
      this.imageFormData = val
    }
  }
}
</script>
