<template>
  <div :id="id" class="noise-reduction-form row">
    <div class="col-md-6">
      <InfoAlert>
        <p>This layer lets you visualize the effect of noise reduction at different signal strengths.</p>
        <p><em>Levels (JSON)</em> should be a 3-dimensional array with the following dimensions:</p>
        <ul>
          <li>
            <strong>level:</strong> an index for each level profile (or "curve"), with level 0 being for the lowest
            level.
          </li>
          <li><strong>stage:</strong> an index for each biquad filter to cascade</li>
          <li><strong>coefficient:</strong> [b0, b1, b2, a1, a2]</li>
        </ul>
      </InfoAlert>
    </div>
    <div class="col-md-6">
      <div class="mb-3 row">
        <label :for="`${id}-signalStrength`" class="col-5 col-form-label">Signal strength (dB)</label>
        <div class="col-7">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              :id="`${id}-minLevelDb`"
              v-model.number="noiseReductionFormData.minLevelDb"
              @input="onInput"
            />
            <span class="input-group-text">&leq;</span>
            <input
              type="text"
              class="form-control"
              :id="`${id}-signalStrengthDb`"
              v-model.number="signalStrengthDb"
              @change="onSignalStrengthDbChange"
            />
            <span class="input-group-text">&leq;</span>
            <input type="text" class="form-control" value="0" readonly />
          </div>
          <input
            type="range"
            class="form-range"
            :id="`${id}-signalStrength-range`"
            v-model.number="noiseReductionFormData.signalStrength"
            :min="0"
            :max="1"
            :step="0.001"
            @input="onInput"
          />
        </div>
      </div>
      <div class="mb-3 row">
        <label :for="`${id}-lineStyle`" class="col-5 col-form-label">Line style</label>
        <div class="col-7">
          <LineStyleInput :id="`${id}-lineStyle`" :value="noiseReductionFormData.lineStyle" @input="onLineStyleInput" />
        </div>
      </div>
      <div class="form-group mb-3">
        <label :for="`${id}-levelsJsonc`">Levels <em>(JSON)</em></label>
        <textarea
          :id="`${id}-coefficients`"
          class="form-control levels-json"
          v-model="noiseReductionFormData.levelsJsonc"
        />
      </div>
    </div>
  </div>
</template>

<script>
import InfoAlert from '@/components/form-controls/info-alert.vue'
import LineStyleInput from '@/components/form-controls/line-style-input.vue'

export default {
  name: 'NoiseReductionForm',
  components: {
    InfoAlert,
    LineStyleInput
  },
  props: {
    id: String,
    value: Object,
    index: Number
  },
  data: function () {
    return {
      noiseReductionFormData: null,
      signalStrengthDb: null
    }
  },
  methods: {
    onInput: function () {
      this.$emit('input', this.noiseReductionFormData.clone())
    },
    onSignalStrengthDbChange: function () {
      this.noiseReductionFormData.signalStrength = this.map(
        this.signalStrengthDb,
        this.noiseReductionFormData.minLevelDb,
        0,
        0,
        1
      )
      this.$emit('input', this.noiseReductionFormData.clone())
    },
    onLineStyleInput: function (lineStyle) {
      this.noiseReductionFormData.lineStyle = lineStyle.clone()
      this.$emit('input', this.noiseReductionFormData.clone())
    },
    map: function (value, inMin, inMax, outMin, outMax) {
      return ((value - inMin) * (outMax - outMin)) / (inMax - inMin) + outMin
    }
  },
  watch: {
    value: function (val) {
      this.noiseReductionFormData = val
      this.signalStrengthDb = this.map(
        this.noiseReductionFormData.signalStrength,
        0,
        1,
        this.noiseReductionFormData.minLevelDb,
        0
      )
    }
  },
  created: function () {
    this.noiseReductionFormData = this.value
    this.signalStrengthDb = this.map(
      this.noiseReductionFormData.signalStrength,
      0,
      1,
      this.noiseReductionFormData.minLevelDb,
      0
    )
  }
}
</script>

<style scoped>
.levels-json {
  width: 100%;
  height: 20em;
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
}
</style>
