<template>
  <div :id="id" class="biquad-form row">
    <div class="col-md-6">
      <InfoAlert>
        <p>This layer allows you to see the result of cascading multiple biquad filter stages.</p>
        <p>The output is the product of the magnitudes of all biquad layers.</p>
      </InfoAlert>
    </div>
    <div class="col-md-6">
      <div class="mb-3 row">
        <label :for="`${id}-lineStyle`" class="col-5 col-form-label">Line style</label>
        <div class="col-7">
          <LineStyleInput :id="`${id}-lineStyle`" :value="outputFormData.lineStyle" @input="onLineStyleInput" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import InfoAlert from '@/components/form-controls/info-alert.vue'
import LineStyleInput from '@/components/form-controls/line-style-input.vue'

export default {
  name: 'OutputForm',
  components: {
    InfoAlert,
    LineStyleInput
  },
  props: {
    id: String,
    value: Object,
    index: Number
  },
  data: function () {
    return {
      outputFormData: null
    }
  },
  methods: {
    onInput: function () {
      this.$emit('input', this.outputFormData.clone())
    },
    onLineStyleInput: function (lineStyle) {
      this.outputFormData.lineStyle = lineStyle.clone()
      this.$emit('input', this.outputFormData.clone())
    }
  },
  created: function () {
    this.outputFormData = this.value
  },
  watch: {
    value: function (val) {
      this.outputFormData = val
    }
  }
}
</script>
