<template>
  <div :id="id" class="scale-form row">
    <div class="col-md-6 mb-1">
      <label :for="`${id}-verticalScaleDb`" class="form-label">
        <i class="bi-arrow-down-up"></i>
        Vertical Scale
      </label>
      <div class="input-group">
        <input
          type="text"
          :id="`${id}-minY`"
          class="form-control"
          v-model.number="scaleOptions.minY"
          :readonly="scaleOptions.verticalScaleAuto"
          @change="onChange"
        />
        <span class="input-group-text">..</span>
        <input
          type="text"
          :id="`${id}-maxY`"
          class="form-control"
          v-model.number="scaleOptions.maxY"
          :readonly="scaleOptions.verticalScaleAuto"
          @change="onChange"
        />
        <div class="input-group-text">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              v-model.number="scaleOptions.verticalScaleAuto"
              :id="`${id}-verticalScaleAuto`"
              @change="onChange"
            />
            <label class="form-check-label" :for="`${id}-verticalScaleAuto`">Auto</label>
          </div>
        </div>
        <select
          :id="`${id}-verticalScaleDb`"
          class="form-control"
          v-model="scaleOptions.verticalScaleDb"
          @change="onChange"
        >
          <option :value="true">dB</option>
          <option :value="false">decimal</option>
        </select>
      </div>
    </div>
    <div class="col-md-6 mb-1">
      <label :for="`${id}-Fs`" class="form-label">
        <i class="bi-arrow-left-right"></i>
        Horizontal Scale
      </label>
      <div class="input-group">
        <input type="text" :id="`${id}-Fs`" class="form-control" v-model.number="scaleOptions.Fs" @change="onChange" />
        <span class="input-group-text">Hz</span>
        <select
          :id="`${id}-horizontalScaleLog`"
          class="form-control"
          v-model="scaleOptions.horizontalScaleLog"
          @change="onChange"
        >
          <option :value="true">Log Scale</option>
          <option :value="false">Linear Scale</option>
        </select>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ScaleOptionsForm',
  props: {
    id: String,
    value: Object
  },
  data: function () {
    return {
      scaleOptions: null
    }
  },
  methods: {
    onChange: function () {
      this.$emit('change', this.scaleOptions.clone())
    },
    findMinY: function (data, lineCount) {
      let minY = Infinity
      for (let i = 0; i < lineCount; i++) {
        minY = Math.min(
          minY,
          d3.min(data, (d) => d[`m${i}`])
        )
      }
      return minY
    },
    findMaxY: function (data, lineCount) {
      let maxY = -Infinity
      for (let i = 0; i < lineCount; i++) {
        maxY = Math.max(
          maxY,
          d3.max(data, (d) => d[`m${i}`])
        )
      }
      return maxY
    }
  },
  created: function () {
    this.scaleOptions = this.value
  },
  watch: {
    value: function (val) {
      this.scaleOptions = val
    }
  }
}
</script>
